<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	
	<!-- id:bean的逻辑名 -->
	<!--<bean id="printer" class="cn.zr.beans.Printer">-->
	   <!-- 通过属性的setter注入方式注入某个属性，这里注入的是一个字符串常量 -->
	   <!--<property name="content" value="打印我的成绩！"></property>
	   <property name="age">
	     <value>5</value>
	   </property>
	</bean> -->
	
	<!-- 黑白打印机 -->
	<bean id="blackPrinter" class="cn.zr.beans.BlackPrinter">
	   <property name="color" value="black"></property>
	</bean>
	
	<!-- 彩色打印机 -->
	<bean id="colorPrinter" class="cn.zr.beans.ColorPrinter">
	   <!-- 1.通过setter注入
	   <property name="color" value="color"></property> -->
	   
	   <!-- 2.通过构造方法注入 -->
	   <!-- 可以通过下标、类型、参数名进行区别，
	                  这样就可以不用区分顺序，不用上面3种区别，是有顺序关系，要和构造函数一致 -->
	   <constructor-arg  index="0" name="color" type="java.lang.String">
	      <value>color</value>
	   </constructor-arg>
	   <constructor-arg index="1" name="price" type="java.lang.Double">
	      <value >500.00</value>
	   </constructor-arg>
	</bean>
	
	<!-- 测试打印机对象,注入打印机对象-->
	<bean id="testprinter" class="cn.zr.test.TestPrint">
	   <!-- 通过属性getter注入 
	   <property name="blackPrinter" ref="blackPrinter"></property>
	   <property name="colorPrinter" ref="colorPrinter"></property>
	   -->
	   
	   <!-- 通过构造方法注入 -->
	   <constructor-arg type="cn.zr.beans.Printer" ref="blackPrinter">
	   </constructor-arg>
	   <constructor-arg type="cn.zr.beans.Printer">
	     <ref bean="colorPrinter"></ref>
	   </constructor-arg>
	</bean>
</beans>